.send-button {
      background-color:green;
      padding: 12px 20px;
      border-style:none;
      border-radius: 10px;
      color:white;
      margin-left:10px;
      font-size: 15px;
      cursor:pointer;
     }
     .chat-input {
       padding:12px 15px;
       border-radius: 10px;
      border-width: 1px;
      font-size: 15px;
      flex-grow: 1;
     }
     .chat-input-container {
      display: flex;
      margin-bottom: 20px;
     }